$single-link-color: #bd2d2d;
$single-link-color-dark: #e25555;

$single-link-hover-color: #bd2d2d;
$single-link-hover-color-dark: #e25555;

$code-color-dark: #e66969;
$code-font-size: .8rem;
$code-background-color: #f4f4f4;
